// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// @import '~element-ui/lib/theme-chalk/index.css';

@tailwind base;

@tailwind components;

@tailwind utilities;




// https://codepen.io/damboldt/pen/yLLKOrR

// @import 'material-design-icons-iconfont/src/material-design-icons';


#app,
.wrapper,
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.wrapper2 {
    flex: 2;
    display: flex;
    overflow: hidden;
    // height: 100%;
}
aside {
    flex: 1;
    overflow-y:auto;
}
main {
    flex: 3;
    overflow-y:auto

}
